body{
    overflow-x: hidden;
    font-family: GlacialIndifference;
}
@font-face {
    font-family: GlacialIndifference;
    src: url(/font/GlacialIndifference-Bold.otf);
  }
.section-1{
background-color: #E5E9F2;
height: 937px;
}
.navbar-light{
    background-color: #E5E9F2;
}
/* .row{
    margin: 0 !important;
} */
.form-floating{
    margin-top: 70px;
}
.progress-parag{
    font-size: 20px;
    color: #343F4B;
}
.progress-bar{
    background-color: #47525E;
}
.floating-textarea2{
    color: #8190A5 !important;
    font-size: 18px !important;
}
.logo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.logo-div{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo-anchor{
    width: 34px;
    height: 34px;
}

.company-name{
    color: #343F4B !important;
    font-size: 52px;
    padding: 0px !important;
    font-weight: bold;
   
}
.company-span{
    font-size: 18px;
    color: #343F4B !important;
    padding: 0px !important;
}
.btn{
    color: #fff !important;
}
.btn-outline-success{
background-color: #fff !important; 
}
.left-side{
    margin-top: 50px;
}
.left-side p{
    color: #343F4B;
    font-size: 24px;
    margin-top: 30px;
}
.left-side-parag{
    font-size: 46px;
    font-weight: bold;
    line-height: 62px;
    color: #47525E;
}
.img-div{
    text-align: center;
    width: 593px;
    height: 593px;
    margin: auto;
}
.img-div img{
    width: 100%;
    height: 100%;
}
.button-g{
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    background-color: #47525E;
    color: #fff;
}
.input-group{
    margin-top: 50px;
}
.input-group input{
    margin-right: 20px;
}
.section-2{
    height: 989px !important;
}
.section-2 h3{
    text-align: center;
    font-style: bold;
    font-weight: 40px;
    color: #47525E;
}
.section-2-content{
    padding-top:8rem ;
    text-align: center;
}
.margin-row{
    margin: 80px 0 80px 0 !important;
    justify-content: center;
}
.img-container-div{
   display: flex;
   justify-content: space-between; 
}
.img-container{
    width: 213px;
    height: 130px;
}
.img-container img{
    width:100%;
    height: 100%;
}
.hr-1{
    border: 3px #969FAA solid ;
}
.parag-1{
text-align: left;
font-size: 20px;
font-style: regular;
padding: 20px;
line-height: 25px;
color: #47525E;
}
.custom-btn{
    width: 207.89px;
    height: 52px;
}
.video-container{
display: flex;
align-items: center;
justify-content: center;
}
.video-div{
    background-color: #47525E;
    width: 1005.51px;
    height: 565.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3{
    background-color: #E5E9F2;
    height: 1025.59px;
}
.section-3-div{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section-3 h4{
    text-align: center;
    font-style: bold;
    font-size: 42px;
    color: #47525E;
}
.section-3 p{
    color: #343F4B;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

.section-4{
    background-color: #47525E;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    height: 380px;
  
}
.footer-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    width: 104px;
    height: 88px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
}
.brand-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-input-div{
display: flex;
}
.footer-input-div input{
    margin-right: 15px;
    width: 338px;
}
.footer-input-div button{
    padding-left: 50px;
    padding-right: 50px;
}
.brand-div h1{
color:#969FAA ;
font-weight: bold;
font-size: 41px;
}
.page-link-div{
    margin-right: 120px;
    width: 330px;
}
.list-div{
    justify-content: space-around;
    align-items: center;
}
.list-div ul li{
    list-style: none;
    color: #F7F7F7;
    font-size: 18px;
}
.content-div p{
    color: #F7F7F7;
    font-size: 18px;
}
.social-link{
    width: 43px;
    height: 37.9px;
    margin-right: 20px;
}
.social-link img{
    width: 100%;
    height: 100%;
}
.section-5{
    height: 521px;
}
.section-5-div{
    width: 116px;
    height: 116px;
}
.page-div{
    text-align: center;
    height: inherit;
    padding-top: 7rem;
}
.link{
    padding-top: 40px;
   text-decoration: none;
    font-weight: bold;
    color: #47525E ;
    font-size: 42px;
}
.page-div div{
    margin: 20px auto !important;
}
.section-5-div img{
    width: 100%;
    height: 100%;
}
.section-5-div a{
    font-size: 30px;
    font-weight: bold;
    color: #47525E;
}
.section-6{
    height: 872px;
}
.section-6 div h1{
    font-weight:bold ;
    font-size: 42px;
    color: #47525E;
    margin-top: 32px;
}
.section-6 div p{
    font-size: 20px;
    color: #47525E;
}
.sign-in-txt{
    color: #47525E;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.sign-in-parag{
    color: #8190A5;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
}
.modal-button {
    margin-bottom: 20px;
    text-align: center;
    padding-left: 126px;
    padding-right: 126px;
    font-size: 20px;
}
.forget-txt{
    text-decoration: none;
    margin-top: 20px;
    color: #47525E;
    font-size: 16px;
}
.modal-dialog{
    max-width: 638.33px !important;
    height: 559.6px !important;
    margin: 2rem auto;
}
.modal-content{
    padding: 80px;
    width: 638.33px;
    height: 559.61px;
}
.modal-input{
    width: 306px;
    margin: auto;
}
.modal-input input{
    border: 1px solid #8492A6;
    margin-bottom: 20px;
    padding: 10px;
}
.profile-div{
    width: 230px;
    height: 218px;
}
.section-7{
    height: 872px;
}
.profile-div img{
    width: 100%;
    height: 100%;
}
.prrofile-title{
    color: #5A6978;
    font-size: 42px;
    padding: 20px 0;
    margin-top: 40px;
    font-weight: bold;
}
.div-link{
    margin-top: 20px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-link a{
    font-size: 20px;
    color: #5A6978 !important;
    
}
.dropdown-toggle{
    color: #47525E !important;
    height: 60px;
    font-size: 20px;

}
.dropDown-span{
    padding-right: 100px;
}
.btn-outline-secondary{
    color: #47525E !important;
}

.dropdown1 input{
    margin-top: 10px;
    padding: 8px;
    height: 58px;
    font-size: 20px;
    color: #969FAA;
}
/* .input-1{
    margin-top: 15px;
} */
.input-2{
    margin-top: 12px;
}
.profile-div-button{
    margin-top: 30px;
    border: 5px solid #47525E;
    width: 192px;
    height: 50px;
    padding: 5px 50px;
    border-radius: 5px;
}
.profile-div-button-2{
    margin-top: 30px;
    border: 5px solid #47525E;
    width:265px;
    height: 50px;
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 20px;
}
.profile-p{
    padding-top: 30px ;
    padding-bottom: 20px;
    color: #47525E;
    font-size: 20px;
}
.dropdown1{
    display: flex;
    flex-direction: column;
    width: 313px;
}
.footer-title{
    line-height: 40px;
}
.green-border{
    border: #04C74D 10px solid;
}
.green-parent div{
    margin-right: 70px;
}
.section-8{
    height: 1399px;
}
.section-8-div{
    padding: 70px;
}
.section-8-heading{
    font-size: 42px;
    color: #343F4B;
    font-weight: bold;
}
.section-8-parag{
    font-size: 23px;
    color: #343F4B;
    margin-top: 20px;
}
.section-8-parag2{
    color: #343F4B;
    font-size: 42px;
    margin-top: 100px;
}
.profile-div-2{
    width: 92.59px;
    height: 84.5px;
}
.profile-div-2 img{
    width: 100%;
    height: 100%;
}
.profile-div-2-container{
    display: flex;
    margin-top: 50px;
}
.profile-div-2-container div{
    margin-right: 70px;
}
.horizontal-line{
margin-top: 150px;
}
.create-profile-container{
    padding-left: 100px;
}
@media (max-width: 576px) {
.img-div img{
    display:none;
}
.company-name{
    font-size: 30px;
    margin-top: 2rem;
}
.company-span{
    font-size: 16px;
}
.section-6 div h1{
    font-size: 20px;
    padding: 20px;
}
.section-6 div p{
    font-size: 18px;
    padding: 10px 20px;
}
.input-profile-div{
    width: 95%;
}
.profile-p{
    font-size: 18px;
    text-align: center;
    padding: 30px;
}
.profile-div{
    margin: auto;
}
.prrofile-title{
    text-align: center;
}
.link{
    font-size: 20px;
}
.dropdown1{
    margin: auto;
}
}
@media(max-width:768px){
    .img-div {
        margin-top: 4rem;
    }
    .img-container{
        width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 4rem;
    }
    .parag-1{
        text-align: center;
        font-size: 18px;
    }
    .brand-div{
        align-items: center;
        justify-content: center;
    }
    .brand-div h1{
        font-size: 30px;
    }
    .list-div{
        align-items: center;
        justify-content: center;
        margin-top: 4rem; 
    }
    .content-div{
        margin-top: 4rem;
        text-align: center;
    }
    .social-icons {
        align-items: center;
        justify-content: center;
    }
    .section-7{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prrofile-title{
        font-size: 20px;
    }
    .div-link{
        width: 150px !important;
    }
    .div-link a{
        font-size: 16px;
    }
    .profile-div{
        width: 150px;
        height: 150px;
    }
}
@media(max-width:1024px){
    .input-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-group input{
        width: inherit !important;
        margin-bottom: 10px;
    }
    .input-group button{
        width: fit-content;
        ;
    }
}